body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  background-color: #e5e5e5;
  text-align: center;
}

.first-part {
  background-color: #e5e5e5;
  text-align: center;
}

.second-part {
  background-color: #e5e5e5;
  text-align: center;
}

.third-part {
  background-color: #e5e5e5;
  text-align: center;
}

.forth-part {
  background-image: url('Gay_Pride_Flag.svg');
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100%;
  width: 100%;
}

.lgbt {
  background-color: #ececec;
  margin: auto;
  text-align: center;
  min-height: 100%;
  width: 370px;
}

.fifth-part {
  background-color: #e5e5e5;
  text-align: center;
}

.footer {
  background-color: #e5e5e5;
  text-align: center;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}